/* src/App.css */

.App {
  text-align: center;
  margin: 20px;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

nav ul {
  list-style-type: none;
  padding: 0;
}

nav ul li {
  display: inline;
  margin: 0 10px;
}

.quote-card {
  margin: 20px auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #f9f9f9;
  width: 300px; /* Adjust width as needed */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.quote-content {
  margin-bottom: 20px;
}

.quote-actions {
  display: flex;
  justify-content: center;
}

.quote-actions button {
  margin: 5px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.quote-actions button:hover {
  background-color: #ddd; /* Hover color for quote actions buttons */
}

.generate-button {
  margin: 20px 0;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.generate-button:hover {
  background-color: #ddd; /* Hover color for generate button */
}

.quote-creator form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quote-creator input {
  margin: 5px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.quote-creator button {
  margin: 10px;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #ddd;
}

.generated-quote {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background: #e0f7fa;
}
